.truncate {
    display: -webkit-box;
    /* max-width: 250px; */
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.text-link:hover {
    color: #00bcd4;
    text-decoration: none;
    cursor: pointer;
}